<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="~{layout :: layout(~{::main})}">
        <main>
            <h2>Hồ sơ sinh viên (CV)</h2>
            <p><strong>Họ và tên:</strong> Nguyễn Hữu Trọng</p>
            <p><strong>Mã SV:</strong> 65133958</p>
            <p><strong>Mục tiêu:</strong> Phát triển hệ thống Smart Recruitment và trở thành Fullstack Developer.</p>
            <p><strong>Dự án nổi bật:</strong> Hệ thống MoneyTrackBot, FastFood Website.</p>
        </main>
    </div>
</body>
</html>